* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100vh;
}
header {
  background-color: #000;
  color: #fff;
  padding: 15px;
  position: sticky;
  top: 0;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-links ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
header a {
  color: #fff;
}
header #new {
  background-color: rgb(0, 0, 255);
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: 600;
}
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 25px;
  padding: 0 10px;
  padding-bottom: 20px;
}
.main-body {
  grid-column: 1 / 2;
}
.main-body .main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.main-content .post {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 3px 1px rgb(134, 133, 133);
  overflow: hidden;
}
.post .image {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-bottom: 1px solid gray;
  background-color: #dbd7d7;
  font-weight: 600;
}
.image img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: blueviolet;
}
.post .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  flex: 1;
}
.post .info .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  margin-top: auto;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  gap: 5px;
  position: sticky;
  top: 69px;
}
.left, .right {
  padding: 15px;
  text-align: center;
  flex: 1;
  font-weight: 550;
  font-size: 1.1rem;
}
.active {
  background-color: rgb(221, 220, 220);
}
.left:hover, .right:hover {
  background-color: rgb(221, 220, 220);
  cursor: pointer;
}
.post-image img{
  width: 100%;
}
.sidebar {
  grid-column: 2;
}
.sidebar .search {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  background-color: rgb(221, 220, 220);
  padding: 15px;
}
.search input {
  background-color: transparent;
  border: none;
  outline: none;
}
.sidebar .side-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}
.side-content > div {
  border-radius: 20px;
  box-shadow: 0 0 3px 1px rgb(134, 133, 133);
  padding: 15px;
}
.side-content h2 {
  padding: 10px 0;
  border-bottom: 2px solid #000;
}
.side-content .info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(134, 133, 133, .8);
}
.dialog {
  margin: auto;
  border: none;
  width: 70%;
}
form {
  padding: 15px;
}
form fieldset{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border: none;
}
form fieldset legend {
  text-align: center;
  font-weight: 600;
  font-size: 1.05rem;
}
label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
form input, textarea {
  outline: none;
  padding: 15px;
  resize: none;
  font-size: 1.1rem;
  border: 1px solid #bfbdbd;
  border-radius: 10px;
}
form .create-cancel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
form .create-cancel button {
  padding: 10px 20px;
  border: 0;
  border-radius: 15px;
  background-color: #bfbdbd;
  font-weight: 500;
  font-size: 1.05rem;
}
.create-cancel [type="submit"] {
  background-color: #00bc00;
  color: #fff;
}